rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Config collection holds the admin username and password
    match /config/{configId} {
      allow read, write: if true;
    }

    // Requests collection holds the client project proposals
    match /requests/{requestId} {
      allow read, write: if true;
    }

    // Chats collection holds the chat logs for the clients
    match /chats/{chatId} {
      allow read, write: if true;
    }
  }
}
